timestamp=7/12/2013 3:38:28 PM
version=1
assembly=6238b243-7cfb-4ce3-8081-f762de24a02e;Ambitus, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
6238b243-7cfb-4ce3-8081-f762de24a02e=System.Object[N2.Engine.ServiceAttribute];none
assembly=3b4b6f16-eb6e-483e-bc57-79151eaa01f2;CaptchaMvc, Version=2.1.2.0, Culture=neutral, PublicKeyToken=fe46ad421dd3b0e6
3b4b6f16-eb6e-483e-bc57-79151eaa01f2=System.Object[N2.Engine.ServiceAttribute];none
assembly=99e87c55-da91-4c4f-b1f0-82029594018c;DotNetOpenAuth.AspNet, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2780ccd10d57b246
99e87c55-da91-4c4f-b1f0-82029594018c=System.Object[N2.Engine.ServiceAttribute];none
assembly=bc47f8f7-a41a-49af-99c1-d135895b9e42;DotNetOpenAuth.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2780ccd10d57b246
bc47f8f7-a41a-49af-99c1-d135895b9e42=System.Object[N2.Engine.ServiceAttribute];none
assembly=88225586-5dfe-4748-89bd-db6b1bb3e952;DotNetOpenAuth.OAuth.Consumer, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2780ccd10d57b246
88225586-5dfe-4748-89bd-db6b1bb3e952=System.Object[N2.Engine.ServiceAttribute];none
assembly=7fe6aba1-7ae6-4fda-9b3c-c1edf51bfe78;DotNetOpenAuth.OAuth, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2780ccd10d57b246
7fe6aba1-7ae6-4fda-9b3c-c1edf51bfe78=System.Object[N2.Engine.ServiceAttribute];none
assembly=65d5e11a-2244-4fe7-b63f-fa48405b8cb6;DotNetOpenAuth.OpenId, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2780ccd10d57b246
65d5e11a-2244-4fe7-b63f-fa48405b8cb6=System.Object[N2.Engine.ServiceAttribute];none
assembly=4ee5b4dc-0410-47f7-af51-fd9dc6b96801;DotNetOpenAuth.OpenId.RelyingParty, Version=4.0.0.0, Culture=neutral, PublicKeyToken=2780ccd10d57b246
4ee5b4dc-0410-47f7-af51-fd9dc6b96801=System.Object[N2.Engine.ServiceAttribute];none
assembly=5c887786-aca0-4406-8082-cb8cad7511ab;Joes-Pub-MVC-4, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
5c887786-aca0-4406-8082-cb8cad7511ab=System.Object[N2.Engine.ServiceAttribute];Dinamico.Models.AccountMembershipService
5c887786-aca0-4406-8082-cb8cad7511ab=System.Object[N2.Engine.ServiceAttribute];Dinamico.Models.FormsAuthenticationService
5c887786-aca0-4406-8082-cb8cad7511ab=System.Object[N2.Engine.ServiceAttribute];Dinamico.Registrations.FreeFormRegistration
5c887786-aca0-4406-8082-cb8cad7511ab=System.Object[N2.Engine.ServiceAttribute];Dinamico.Registrations.PermissionDeniedHandler
5c887786-aca0-4406-8082-cb8cad7511ab=System.Object[N2.Engine.ServiceAttribute];Dinamico.Dinamico.Registrations.StartPageRegistration
assembly=37816a55-dd38-4061-9349-69ca743b520d;N2, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.DraftRepository
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.FluentDefinitionProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Activity.ActivityRepository`1
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.ContentVersionRepository
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateAnalyzer
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateRegistrator
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionMap
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.TemplateProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.DatabaseFileSystem
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.FileConfigurationParticipator
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.UploadFileHttpHandler
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationChecker
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.UploadFolderSource
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGatewaySelector
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewContentHelperProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.PathDataProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.RouteCollectionProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HtmlHelperProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HttpContextProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewEngineCollectionProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.VirtualPathProviderProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Behaviors.BehaviorInvoker
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditUrlManager
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.AppPathRebaser
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentActivator
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`1
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentItemRepository
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHInterceptorFactory
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.RelationConfigurationBuilderParticipator
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.EmptyIndexer
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ContentSource
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.FindingTextSearcher
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.IndexableDefinitionExtractor
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.EmptyConfigurationBuilderParticipator
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.DescendantItemFinder
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.TextExtractor
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.VersionSource
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.DatabaseSource
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ActiveContentSource
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TagsRepository
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TemporaryFileHelper
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.ConnectionMonitor
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Resources.ResourceInitializer
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.CacheWrapper
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.DefaultExceptionFilter
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.MessageBroker
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.HttpRequestChannel
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.MultipleSitesInitializer
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerMapper
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.ContentRendererSelector
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableTokenRenderer
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Tokens.TokenDefinitionFinder
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.DirectUrlInjector
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Wiki.WikiParser
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableRendererSelector
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.FallbackDisplayableRenderer
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.WritingDisplayableRenderer
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.RssWriter
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityManager
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.Finder.ItemFinder
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`2
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginBootstrapper
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.DynamicSitesProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestLifeCycleHandler
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.AttributeExplorer
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionBuilder
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.DefinitionManager
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ContainerRepository`1
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.DatabaseStatusCache
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.MigrationEngine
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.MappedFileSystem
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationManager
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.VirtualNodeFactory
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandDispatcher
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandFactory
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.StateChanger
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ServiceProvider`1
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.EntityDependencySetter`1
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentDependencyInjector
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ItemNotifier
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Proxying.InterceptingProxyFactory
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipExporter
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipImporter
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlReader
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlWriter
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Drawing.ImageResizer
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestPathProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.DefaultDirectorySelector
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.AsyncWorker
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundCache`1
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundDictionaryCache`2
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ContentAdapterProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGateway
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageInterceptor
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ClassMappingGenerator
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.TrailTracker
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationSource
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditManager
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Navigator
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.TreeSorter
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityEnforcer
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationBuilder
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentPersister
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.SessionProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginFinder
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Heart
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Scheduler
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityManager
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.ObsoleteErrorHandler
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorNotifier
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorHandler
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Host
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlFilter
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mail.SmtpMailSender
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.CreateUrlProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.EditUrlProvider
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemCopyer
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemDeleter
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemMover
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.CacheManager
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.PartUtilities
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Versioning.VersionManager
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.EditableHierarchyBuilder
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Settings.NavigationSettings
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityEnforcer
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestDispatcher
37816a55-dd38-4061-9349-69ca743b520d=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestHandler
assembly=655e717f-f227-4cab-8e31-380ee11dbd77;N2.Extensions, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
655e717f-f227-4cab-8e31-380ee11dbd77=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.AsyncIndexer
655e717f-f227-4cab-8e31-380ee11dbd77=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ContentChangeTracker
655e717f-f227-4cab-8e31-380ee11dbd77=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneAccesor
655e717f-f227-4cab-8e31-380ee11dbd77=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneIndexer
655e717f-f227-4cab-8e31-380ee11dbd77=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.LuceneSearcher
655e717f-f227-4cab-8e31-380ee11dbd77=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.ReindexTextMigration
655e717f-f227-4cab-8e31-380ee11dbd77=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerFactoryConfigurator
655e717f-f227-4cab-8e31-380ee11dbd77=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.EditableItemRenderer
655e717f-f227-4cab-8e31-380ee11dbd77=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ServiceLocatingControllerFactory
655e717f-f227-4cab-8e31-380ee11dbd77=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.N2ControllerFactory
655e717f-f227-4cab-8e31-380ee11dbd77=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.Html.TemplateRenderer
assembly=0fdfb971-760a-4be5-a7e9-83fec41a2d07;N2.Management, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Edit.AutoPublish.PublishScheduledAction
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];Management.N2.Content.LinkTracker.UpdateImagesMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildGroupSource
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Trash.AsyncTrashPurger
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ViewOptionProvider
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditOptionProvider
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.BulkOptionProvider
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.CsvParser
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.LinkTracker.UpdateLinksMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildrenAjaxService
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.NumberOfItemsScheduledAction
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Tags.TagsAjaxService
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateProvider
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateRepository
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Globalization.GlobalizationOptionProvider
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.WizardOptionProvider
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Externals.ExternalContentRepository
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystemSource
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystem.Pages.ImageSizeCache
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FolderNodeProvider
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UpdateFilePrefixMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UploadedFilesResizer
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.VirtualFolderInitializer
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.CleanZoneNameMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.EditableItemMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionsMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixStateMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateChildStateMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTranslationKeyMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTemplateKeyMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAlteredPermissionsMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.InsertAncestralTrailMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAppPathMigration
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpgradeVersionWorker
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Security.ItemBridge
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Edit.KeepAlive.Pinger
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Edit.LinkTracker.Tracker
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.MessageBoard
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.ChatMessageReceiver
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.DeleteInterceptor
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashCleanupAgent
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashHandler
0fdfb971-760a-4be5-a7e9-83fec41a2d07=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.LocationWizard
assembly=24ef90ab-f0ec-43dc-a15b-8f2414e0cc87;N2.Packaging, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
24ef90ab-f0ec-43dc-a15b-8f2414e0cc87=System.Object[N2.Engine.ServiceAttribute];N2.Web.Hosting.ZipVppInitializer
assembly=4dc1431a-c71c-4edb-8249-52a453137ccb;N2.Razor, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
4dc1431a-c71c-4edb-8249-52a453137ccb=System.Object[N2.Engine.ServiceAttribute];none
assembly=bb662a6a-8e5e-41d4-abfc-b099b2e96509;Nysf.Elmah, Version=1.2.13605.0, Culture=neutral, PublicKeyToken=null
bb662a6a-8e5e-41d4-abfc-b099b2e96509=System.Object[N2.Engine.ServiceAttribute];none
assembly=94d52f79-199f-41d1-965a-bdb91d15de2a;Nysf.Tessitura, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
94d52f79-199f-41d1-965a-bdb91d15de2a=System.Object[N2.Engine.ServiceAttribute];none
assembly=d4055c56-d5cc-421c-8ab2-b415a06bceb7;Nysf.Tessitura.XmlSerializers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
d4055c56-d5cc-421c-8ab2-b415a06bceb7=System.Object[N2.Engine.ServiceAttribute];none
assembly=7bed989d-0596-47c6-a9cc-336f5720b8ad;Nysf.TicketScanning.XmlSerializers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
7bed989d-0596-47c6-a9cc-336f5720b8ad=System.Object[N2.Engine.ServiceAttribute];none
assembly=0e43c9de-d86c-40e1-8ebc-3412aba5e7e0;Nysf.Types, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
0e43c9de-d86c-40e1-8ebc-3412aba5e7e0=System.Object[N2.Engine.ServiceAttribute];none
assembly=07e2241e-c5f7-450a-8edc-cc39a15d6003;Nysf.Utility, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
07e2241e-c5f7-450a-8edc-cc39a15d6003=System.Object[N2.Engine.ServiceAttribute];none
assembly=d5badef1-d8d2-4a71-a75f-e08a68ccc383;PagedList, Version=1.15.0.0, Culture=neutral, PublicKeyToken=abbb863e9397c5e1
d5badef1-d8d2-4a71-a75f-e08a68ccc383=System.Object[N2.Engine.ServiceAttribute];none
assembly=4a245367-e0d6-4b9d-aedf-065765ff9300;PagedList.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=abbb863e9397c5e1
4a245367-e0d6-4b9d-aedf-065765ff9300=System.Object[N2.Engine.ServiceAttribute];none
assembly=eea3fca7-2892-4e89-a967-ce404e1bab54;WebMatrix.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35
eea3fca7-2892-4e89-a967-ce404e1bab54=System.Object[N2.Engine.ServiceAttribute];none
assembly=45478db7-1445-4879-95ff-67bcdca034e0;WebMatrix.WebData, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35
45478db7-1445-4879-95ff-67bcdca034e0=System.Object[N2.Engine.ServiceAttribute];none
