<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	
	<!-- Required by Ambitus -->
	
	<section name="ambitus" type="Ambitus.Internals.ConfigSection, Ambitus" />
	
  </configSections>

  <!-- Required by Ambitus -->

  <ambitus>
	<connection
	  allowUnsecure="true"
	  webApiUrl="https://tessitura.publictheater.org/tessitura.asmx" />
	<defaults
	  loadDynamically="true"
	  ip="0.0.0.0"
	  businessUnit="1"
	  credentialsEmailTemplateId="59"
	  organizationName=""
	  emptyStringLiteral="[]"
	  modeOfSaleId="6"
	  loginTypeId="1" />
	<caching
	  longCacheMinutes="60"
	  shortCacheMinutes="10" />
	<session
	  enablePasswordEncryption="false"
	  passwordSalt="$@l+y$@l+y@ndr3wj@ck$0n"
	  useSessionCache="true"
	  seatServerClockOffsetSeconds="0"
	  cartExpirationSeconds="0"
	  debugCheckSession="true" /> <!-- Reconfigure for production environment -->
  </ambitus>

</configuration>