<?xml version="1.0"?>
<configuration>
  <configSections>
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

	  <!-- Required by Nysf.Tessitura -->

	  <section name="Nysf.Tessitura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

	</sectionGroup>
  </configSections>
  <applicationSettings>

	<!-- Required by Nysf.Tessitura -->

	<Nysf.Tessitura.Properties.Settings>
	  <setting name="Nysf_Tessitura_TessituraWebApi_Tessitura" serializeAs="String">
		<value>http://tessitura.publictheater.org/tessitura.asmx</value>
	  </setting>
	</Nysf.Tessitura.Properties.Settings>

  </applicationSettings>

  <appSettings>

	<!-- Required by Nysf.Utility -->

	<add key="nysf_Utility_AppBase" value="/" />
	<add key="nysf_Utility_SaltString" value="$@l+y$@l+y@ndr3wj@ck$0n"/>
	<add key="nysf_Utility_SmallScreenAgentIdentifiers" value="iphone, ipod, avantgo, palmos, palmsource, blazer, docomo, vodafone, windows ce, minimo, astel/, pdxgw/, opwv, up.browser, plucker, netfront, wm5 pie, xiino, opera mobi, opera mini, blackberry, cricket, dell streak, mobile safari, htc_, htc , htc-, up.link, iemobile, lge, midp-, droid, mot-, portalmmm, nokia, smartphone, symbian, linux armv, webos, mobileexplorer, netfront, sec-, reqwirelessweb" />
	<add key="nysf_Utility_TimeoutPageUrl" value="~/timeout.aspx" />
	<add key="nysf_Tessitura_SeatMapInvisHoldCodes" value="88"/>

	<!-- Required by Nysf.Tessitura -->

	<add key="nysf_Tessitura_DefaultBusinessUnit" value="1" />
	<add key="nysf_Tessitura_DefaultLoginType" value="1" />
	<add key="nysf_Tessitura_DefaultN1N2" value="0" />
	<add key="nysf_Tessitura_DefaultPromoCode" value="0" />
	<add key="nysf_Tessitura_DefaultWebModeOfSale" value="6" />
	<add key="nysf_Tessitura_AnonymousUsername" value="an0nan0n" />
	<add key="nysf_Tessitura_AnonymousPassword" value="$p3@rh3@d" />
	<add key="nysf_Tessitura_ConvertUnobfuscatedPasswords" value="false" />
	<add key="nysf_Tessitura_CartExpirationMins" value="15" />
	<add key="nysf_Tessitura_MemTicketPerf" value="16430" />
	<add key="nysf_Tessitura_MemTicketZone" value="586" />
	<add key="nysf_Tessitura_MemTicketPriceType" value="33" />
	<add key="nysf_Tessitura_MemTicketMos" value="13" />
	<add key="nysf_Tessitura_MembershipPrice" value="55" />
	<add key="nysf_Tessitura_MembershipHandlingFee" value="5" />

  </appSettings>
  <system.web>

	<!-- TODO: Change for performance and security on production server -->

	<compilation debug="true" targetFramework="4.0" />
	<trace enabled="true" localOnly="true" />

  </system.web>
</configuration>