<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Required by Ambitus -->
    <section name="ambitus" type="Ambitus.Internals.ConfigSection, Ambitus"/>
    <!-- Required by Nysf.Web -->
    <section name="nysf.web" type="Nysf.Web.ConfigSection, Nysf.Web"/>
  </configSections>
  <!-- Required by Ambitus -->
  <ambitus>
    <connection allowUnsecure="true" webApiUrl="https://tessitura.publictheater.org/tessitura.asmx"/>
    <defaults loadDynamically="true" ip="0.0.0.0" businessUnit="1" credentialsEmailTemplateId="59" organizationName="" emptyStringLiteral="[]" modeOfSaleId="6" loginTypeId="1"/>
    <caching longCacheMinutes="60" shortCacheMinutes="10"/>
    <session enablePasswordEncryption="false" passwordSalt="$@l+y$@l+y@ndr3wj@ck$0n" useSessionCache="true" seatServerClockOffsetSeconds="0" cartExpirationSeconds="0" debugCheckSession="false"/>
    <!-- Reconfigure for production environment -->
  </ambitus>
  <!-- Required by Nysf.Web -->
  <nysf.web browserSessionKey="nysf_session" sourceIdQueryStringKey="sourceid" anonymousUsername="an0nan0n" anonymousPassword="A57BAD5F12888941A8783BB6C83A0212" debugEnableSsl="true">
    <!-- Reconfigure for production environment -->
    <standardPages timeout="/timeout" activate="/activate" login="/login" expired="/expired" enterPromo="/enterpromo" register="/register" cart="/cart" checkout="/checkout" account="/account" logout="/logout" postCheckout="/checkout/complete"/>
  </nysf.web>
  <system.web>
    <!-- Reconfigure for production environment -->
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <httpRedirect enabled="false" destination="http://tickets.joespub.com" exactDestination="true" childOnly="false" httpResponseStatus="Temporary"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>