<?xml version="1.0"?>
<configuration>
  <configSections>
	<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >

	  <!-- Required by Nysf.Elmah -->

	  <section name="Nysf.Elmah.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

	  <!-- Required by Nysf.Tessitura -->

	  <section name="Nysf.Tessitura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

	</sectionGroup>

	<!-- Required by Nysf.Elmah -->

	<sectionGroup name="elmah">
	  <section name="security" requirePermission="false" type="Nysf.Elmah.SecuritySectionHandler, Nysf.Elmah" />
	  <section name="errorLog" requirePermission="false" type="Nysf.Elmah.ErrorLogSectionHandler, Nysf.Elmah" />
	  <section name="tessIntegration" requirePermission="false" type="Nysf.Elmah.TessIntegrationSectionHandler, Nysf.Elmah" />
	</sectionGroup>

  </configSections>

  <applicationSettings>

	<!-- Required by Nysf.Elmah -->

	<Nysf.Elmah.Properties.Settings>
	  <setting name="Nysf_Elmah_TessWebApi_Tessitura" serializeAs="String">
		<value>https://tessitura.publictheater.org/tessitura.asmx</value>
	  </setting>
	</Nysf.Elmah.Properties.Settings>

	<!-- Required by Nysf.Tessitura -->

	<Nysf.Tessitura.Properties.Settings>
	  <setting name="Nysf_Tessitura_TessituraWebApi_Tessitura" serializeAs="String">
		<value>http://tessitura.publictheater.org/tessitura.asmx</value>
	  </setting>
	</Nysf.Tessitura.Properties.Settings>

  </applicationSettings>

  <appSettings>

	<!-- Required by Nysf.Utility -->

	<add key="nysf_Utility_AppBase" value="/" />
	<add key="nysf_Utility_SaltString" value="$@l+y$@l+y@ndr3wj@ck$0n"/>
	<add key="nysf_Utility_SmallScreenAgentIdentifiers" value="iphone, ipod, avantgo, palmos, palmsource, blazer, docomo, vodafone, windows ce, minimo, astel/, pdxgw/, opwv, up.browser, plucker, netfront, wm5 pie, xiino, opera mobi, opera mini, blackberry, cricket, dell streak, mobile safari, htc_, htc , htc-, up.link, iemobile, lge, midp-, droid, mot-, portalmmm, nokia, smartphone, symbian, linux armv, webos, mobileexplorer, netfront, sec-, reqwirelessweb" />
	<add key="nysf_Utility_TimeoutPageUrl" value="~/timeout.aspx" />
	<add key="nysf_Tessitura_SeatMapInvisHoldCodes" value="88"/>

	<!-- Required by Nysf.Tessitura -->

	<add key="nysf_Tessitura_DefaultBusinessUnit" value="1" />
	<add key="nysf_Tessitura_DefaultLoginType" value="1" />
	<add key="nysf_Tessitura_DefaultN1N2" value="0" />
	<add key="nysf_Tessitura_DefaultPromoCode" value="0" />
	<add key="nysf_Tessitura_DefaultWebModeOfSale" value="6" />
	<add key="nysf_Tessitura_AnonymousUsername" value="an0nan0n" />
	<add key="nysf_Tessitura_AnonymousPassword" value="$p3@rh3@d" />
	<add key="nysf_Tessitura_ConvertUnobfuscatedPasswords" value="false" />
	<add key="nysf_Tessitura_CartExpirationMins" value="15" />
	<add key="nysf_Tessitura_MemTicketPerf" value="16430" />
	<add key="nysf_Tessitura_MemTicketZone" value="586" />
	<add key="nysf_Tessitura_MemTicketPriceType" value="33" />
	<add key="nysf_Tessitura_MemTicketMos" value="13" />
	<add key="nysf_Tessitura_MembershipPrice" value="55" />
	<add key="nysf_Tessitura_MembershipHandlingFee" value="5" />

	<!-- Required by Nysf.UserControls -->

	<add key="nysf_UserControls_LoginPageUrl" value="/login/default.aspx" />
	<add key="nysf_UserControls_RegistrationPageUrl" value="/register/default.aspx" />
	<add key="nysf_UserControls_AccountLookupPageUrl" value="/recover/default.aspx" />
	<add key="nysf_UserControls_ActivationPageUrl" value="/activate/default.aspx" />
	<add key="nysf_UserControls_CartPageUrl" value="/cart/default.aspx" />
	<add key="nysf_UserControls_PromoCodeInputPageUrl" value="/enterpromo.aspx" />
	<add key="nysf_UserControls_ManagePageUrl" value="/account/default.aspx" />
	<add key="nysf_UserControls_UpdateAccountInfoPageUrl" value="/account/update.aspx"/>
	<add key="nysf_UserControls_ChangePasswordPageUrl" value="/account/newpass.aspx" />
	<add key="nysf_UserControls_LogoutPageUrl" value="/logout/default.aspx" />
	<add key="nysf_UserControls_CheckOutPageUrl" value="/checkout/default.aspx" />
	<add key="nysf_UserControls_CommunicationsPageUrl" value="/account/communications.aspx" />
	<add key="nysf_UserControls_DefaultOrganization" value="pt" />
	<add key="nysf_UserControls_DefaultStartOfUrlToStylesheets" value="/css" />
	<add key="nysf_UserControls_RecaptchaPublicKey" value="6Lem2cESAAAAAMsT3bIQXl9WyeQ0mkTXn2tPs2Pt" />
	<add key="nysf_UserControls_RecaptchaPrivateKey" value="6Lem2cESAAAAAC7mj31cAVGQRI6r8lhq6cX5ZEK7" />
	<add key="nysf_UserControls_UseNewLoginAlgorithm" value="false" />
	<add key="nysf_UserControls_EnableRedirectsToHttps" value="false" />

  </appSettings>

  <!-- Required by Nysf.Elmah -->

  <elmah>
	<security allowRemoteAccess="0" />
	<errorLog type="Nysf.Elmah.XmlFileErrorLog, Nysf.Elmah" logPath="c:\inetpub\elmah\tickets.undertheradarfestival.com" />
	<tessIntegration sessionKeyKey="nysf_Tessitura_SessionKey" />
  </elmah>

  <system.web>
	<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx" />

	<!-- TODO: Change for performance and security on production server -->

	<compilation debug="true" targetFramework="4.0" />
	<trace enabled="true" localOnly="true" />

	<!-- Required by Nysf.Elmah -->

	<httpModules>
	  <add name="ErrorLog" type="Nysf.Elmah.ErrorLogModule, Nysf.Elmah" />
	</httpModules>
	<httpHandlers>
	  <add verb="POST,GET,HEAD" path="elmah.axd" type="Nysf.Elmah.ErrorLogPageFactory, Nysf.Elmah" />
	</httpHandlers>

  </system.web>

  <system.webServer>

	<!-- Required by Nysf.Elmah -->

	<validation validateIntegratedModeConfiguration="false" />
	<modules>
	  <add name="ErrorLog" type="Nysf.Elmah.ErrorLogModule, Nysf.Elmah" preCondition="managedHandler" />
	</modules>
	<handlers>
	  <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Nysf.Elmah.ErrorLogPageFactory, Nysf.Elmah" preCondition="integratedMode" />
	</handlers>

  </system.webServer>
</configuration>