<?xml version="1.0"?>

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>

    <!-- Required by Nysf.Utility -->

    <add key="nysf_Utility_AppBase" value="/" />
    <add key="nysf_Utility_SaltString" value="$@l+y$@l+y@ndr3wj@ck$0n"/>
    <add key="nysf_Utility_SmallScreenAgentIdentifiers" value="iphone, ipod, avantgo, palmos, palmsource, blazer, docomo, vodafone, windows ce, minimo, astel/, pdxgw/, opwv, up.browser, plucker, netfront, wm5 pie, xiino, opera mobi, opera mini, blackberry, cricket, dell streak, mobile safari, htc_, htc , htc-, up.link, iemobile, lge, midp-, droid, mot-, portalmmm, nokia, smartphone, symbian, linux armv, webos, mobileexplorer, netfront, sec-, reqwirelessweb" />
	<add key="nysf_Utility_TimeoutPageUrl" value="timeout.aspx"/>

    <!-- End required -->
    
  </appSettings>
</configuration>
