<?xml version="1.0"?>
<configuration>
  <configSections>

	<!-- Required by Nysf.Web -->

	<section name="nysf.web" type="Nysf.Web.ConfigSection, Nysf.Web" />

  </configSections>

  <!-- Required by Nysf.Web -->

  <nysf.web
	browserSessionKey="nysf_session"
	sourceIdQueryStringKey="sourceid"
	anonymousUsername="an0nan0n"
	anonymousPassword="A57BAD5F12888941A8783BB6C83A0212"
	debugEnableSsl="false" > <!-- Reconfigure for production environment -->
	<standardPages
	  timeout="/timeout"
	  activate="/activate"
	  login="/login"
	  expired="/expired"
	  enterPromo="/enterpromo"
	  register="/register"
	  cart="/cart"
	  checkout="/checkout"
	  account="/account"
	  logout="/logout"
	  postCheckout="/postcheckout" />
  </nysf.web>

</configuration>