@section comments {
    @Html.Partial("~/Views/Shared/_Comments.cshtml")
}
@section tfeature {
    @Html.Partial("~/Views/Shared/_ShowSearch.cshtml")
}
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fjoespub&amp;send=false&amp;layout=standard&amp;width=800&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80" style="border: medium none; overflow: hidden; width: 800px; height: 30px; margin-left: 10px" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
<h1 style="font-size: 15pt; margin-left: 20px;">About Us</h1>
<h2 style="font-size: 12pt; margin-left: 20px;">Jump to: <a href="#Tickets">Tickets</a> / <a href="#Booking">Booking Info</a> / <a href="#Rooms">Room Rentals</a> / <a href="#Internships">Internships</a> / <a href="#Staff">Staff</a> / <a href="#History" target="_self">History</a> / <a href="#Press" target="_self">Press</a> / <a href="#Location" target="_self">Location + Parking</a>  / <a href="#Directions" target="_self">Directions</a>  / <a href="#FAQ" target="_self">FAQ's</a></h2>
<b style="margin-left:20px;font-size:10pt;">All comments and questions may be directed to <a href="mailto:info@joespub.com">info@joespub.com</a><span style="display: none;">This e-mail address is being protected from spam bots, you need JavaScript enabled to view it</span></b>

<a id="Tickets">
    <h2 style="text-decoration: underline; margin-left: 20px">TICKETS:</h2>
</a>
<p style="font-size: 9pt; margin: 0 30px; margin: 0 30px;">Tickets can be purchased online at <a href="http://www.joespub.com">joespub.com</a>, where customers are able to select their seat from an interactive seat map when purchasing, by phone at 212-967-7555, or in person at The Public Theater Box Office (1 PM to 6 PM) located at 425 Lafayette Street, NYC. </p>
<h3 style="margin-left: 30px">Once purchased, tickets are non-refundable.</h3>
<h3 style="text-align: center;">---</h3>
<h3 style="margin-left: 30px">*If you have any questions regarding the new select your own seat ticketing process or general inquiries, please contact 212.539.8778</h3>
<p style="font-size: 9pt; margin: 0 30px;">
    Joe’s Pub seating is communal, which means you may have other guests at your table.  Please note there is a $12 food minimum or two drink minimum per person.  As a courtesy to the artists we recommend arriving no later than thirty minutes before show time. Reservations are now made when tickets are purchased, it is no longer necessary to call the Pub for reservations.  Seating for each show begins when doors open for that performance.
</p>
<br />
<hr style="margin: 0 20px;" />


<a id="Booking">
    <br />
    <span style="font-size: 10pt; font-family: arial,helvetica,sans-serif; margin-left: 20px">
        <u><b>BOOKING INFO:</b></u></span>
</a>
<h4 style="font-size: 11pt; font-weight: normal; margin-left: 30px;">Here are some helpful tips for artists interested in booking a show at Joe’s Pub:</h4>
<ul style="font-size: 10pt; font-family: arial,helvetica,sans-serif; margin-left: 30px">
    <li>Please do not send physical press kids or CDs unless requested.</li>
    <li>Emailing <a href="mailto:bookings@joespub.com">bookings@joespub.com</a> is the primary way to contact us. When emailing, please put the artist name and month you are looking for a show in the subject.</li>
    <li>Make sure to include information about your performance, NYC history, links to your website and myspace, what date range you are interested in and what shows you have currently booked so we can have a chance to see you live.</li>
    <li>Please be patient when emailing <a href="mailto:bookings@joespub.com">bookings@joespub.com</a>. We receive hundreds of submissions a week and will likely not be able to respond immediately.&nbsp; If you do not hear back from us after two weeks you can re-send your request.</li>
    <li>Please follow-up via e-mail instead of phone calls for a faster response.</li>
</ul>
<br />
<hr style="margin: 0 20px;" />

<a id="Rooms">
    <br />
    <span style="font-size: 10pt; font-family: arial,helvetica,sans-serif; margin-left: 20px"><u><b>ROOM RENTALS:</b></u></span>
</a>
<p style="font-size: 9pt; margin: 0 30px;">Joe's Pub is available for rental for showcases, CD and book release events, benefits, weddings, holiday parties, corporate parties and other private events. Pricing varies on length of event, date availability and other factors. For more information, contact Sara Beesley at <a href="mailto:sbeesley@publictheater.org">sbeesley@publictheater.org</a>.</p>
<br />
<hr style="margin: 0 20px;" />

<a id="Internships">
    <br />
    <span style="font-size: 10pt; font-family: arial,helvetica,sans-serif; margin-left: 20px"><u><b>INTERNSHIPS</b></u>:</span>
</a>
<table>
    <tr>
        <td style="width: 20px"></td>
        <td>
            <span style="font-size: 10pt; font-family: arial,helvetica,sans-serif">
                <br />
                <b>Marketing Intern</b><br />
                Will be responsible for:<br />
                Structuring our weekly e-blast, fact-checking the website and all communiqués,&nbsp; managing artist’s promotional materials, managing both on-line and print ads, maintaining the venue’s social networking sites, upkeep of shows in shared calendars using both Google calendar and Microsoft Outlook.&nbsp; Knowledge of Microsoft Outlook, Patron Mail, Facebook and Tessitura is asked but not required. Will train on the job. Required minimum committment of 3 days a week.<br />
                <br />
                <b>Production Intern</b><br />
                Will be responsible for:<br />
                Assisting the production manager in advancing new shows, updating the advance production chart, responding to production inquiries from artists or their contacts and scheduling soundcheck times.<br />
                <br />
                Should be knowledgable about stage set-up, sound mixing and instruments.&nbsp; Required minimum committment 3 days a week.<b></b><br />
                <br />
            </span><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif">All the above require evening availability. Please contact Michele Renkovski at <a href="mailto:mrenkovski@publictheater.org">mrenkovski@publictheater.org</a>
                if you are interested.<br />
                <br />
            </span>
        </td>
    </tr>
</table>
<hr style="margin: 0 20px;" />

<a id="Staff">
    <br />
    <span style="font-size: 10pt; font-family: arial,helvetica,sans-serif; margin-left: 20px"><u><b>STAFF</b></u>:</span>
</a>
<table>
    <tr>
        <td style="width: 20px"></td>
        <td>

            <span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"><span style="font-family: arial,helvetica,sans-serif"><b>Shanta Thake</b><br />
                Director
                <br />

                <a href="mailto:bookings@publictheater.org">bookings@joespub.com</a>
                <br />
                <br />
                <b>Sara Beesley</b><br />
                Associate Director
                <br />

                <a href="mailto:sbeesley@publictheater.org">sbeesley@publictheater.org</a>
                <br />
                <br />
                <b>Lauretta Charlton</b><br />
                Publicity Manager<br />

                <a href="mailto:lcharlton@publictheater.org">lcharlton@publictheater.org</a>
                <br />
                <br />
                <b><span style="font-family: arial,helvetica,sans-serif">Michele Renkovski</span></b><span style="font-family: arial,helvetica,sans-serif"><br />
                    Marketing Manager<br />

                    <a href="mailto:mrenkovski@publictheater.org">mrenkovski@publictheater.org</a><b><br />
                        <br />
                        Ben Easton</b><br />
                    <span style="font-family: arial,helvetica,sans-serif">Artist Relations Manager
                        <br />

                        <a href="mailto:beaston@publictheater.org">beaston@publictheater.org</a><span style="font-family: arial,helvetica,sans-serif"><br />
                            <br />
                            <b>Jon Shriver</b><br />
                        </span><span style="font-family: arial,helvetica,sans-serif">Production Manager<br />
                        </span>

                        <a href="mailto:jshriver@publictheater.org">jshriver@publictheater.org</a>
                        <br />
                        <br />
                        <span style="font-family: arial,helvetica,sans-serif">
                            <b>Jason L Miller</b><br />
                            Lighting Designer<br />
                        </span>
                        <a href="mailto:jmiller@publictheater.org">jmiller@publictheater.org</a>
        <td>
            <span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"><span style="font-family: arial,helvetica,sans-serif"><b>Kevin Abbott</b><br />
                Managing Director
                <br />

                <a href="mailto:kevin@joespub.com">kevin@joespub.com</a>
                <br />
                <br />
                <b>Mario Mendez</b><br />
                Executive Chef
                <br />

                <br />
                <br />
                <b>K.B. Berton</b><br />
                Manager<br />

                <a href="mailto:kb@joespub.com">kb@joespub.com</a>
                <br />
                <br />
                <b><span style="font-family: arial,helvetica,sans-serif">Rebecca Elroy</span></b><span style="font-family: arial,helvetica,sans-serif"><br />
                    Manager<br />

                    <a href="mailto:relroy@joespub.com">relroy@joespub.com</a><b><br />
                        <br />
                        Jersey Katz</b><br />
                    <span style="font-family: arial,helvetica,sans-serif">Manager
                        <br />

                        <a href="mailto:jkatz@joespub.com">jkatz@joespub.com</a>
        </td>
    </tr>
    </table>
<table style="margin: 0 20px;">
    <tr>
        <td>
            <hr />

            <a id="History" title="History"></a><u><b style="font-size:10pt;">History:</b></u><br />
            <p>
                <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif">
                    <br />
                    Joe’s Pub at The Public Theater, reopened October 4th, 2011 from a top to bottom renovation, debuted in October 1998 and quickly became one of New York City's most celebrated and in-demand showcase venues for live music and performance. With its genre-blind booking and vast diversity of interests, the stage at Joe's Pub gives voice to a world of varied and stellar artists.&nbsp; Joe’s Pub is open seven days a week, regularly hosting as many as three shows a day. Dinner and drink service is available during every performance.&nbsp; In addition to its reputation of presenting internationally known stars, Joe’s Pub has also developed into a premier showcase stage for up-and-coming musicians and emerging artists from a variety of disciplines.
                            <br />
                    <br />
                    The Village Voice voted Joe's Pub the “Best Excuse to Let a Single
Venue Dictate Your Taste”. Newsweek calls the club "one of the
country's best small stages" and New York Magazine raves “you never
know what you’ll find next at Joe’s Pub, but you can count on the fact
that it will be good, very good."<br />
                    <br />
                </span>

            </p>
            <p class="MsoNormal">
                In addition to our reputation of presenting internationally
known stars, Joe’s Pub has also developed into a premier showcase stage for
up-and-coming musicians and emerging artists from a variety of disciplines. In
2008 &amp; 2009, this not-for-profit performance space has provided a home for
the very best in pop and rock, both classic<b> (Judy Collins, Fountains of
Wayne, Bob Mould, John Doe, Jill Sobule, Bernie Worrell, The Proclaimers) </b>and
new <b>(Adele, Sara Bareilles, Lykke Li, Sondre Lerche, Balthrop, Alabama, Keren
Ann, Joe Pug,&nbsp; Doveman, Marissa Nadler); </b>world music <b>(Gilberto Gil,
Kailash Kher, Bebel Gilberto, Falu, Vinicio Caposella, Emeline Michel, Martin
Hayes &amp; Dennis Cahill, Luciana Souza);</b> country and Americana <b>(Craig
Morgan, Abigail Washburn &amp; The Sparrow Quartet, Jeffrey Steele, Girlyman,
Lady Antebellum, Mary McBride);</b> jazz and classical <b>(Herb Alpert &amp;
Lani Hall, Emerson String Quartet, Allen Toussaint, Theo Bleckmann &amp;
Kneebody, Ken Vandermark, Lee Konitz, Kate McGarry, Ethan Iverson, Jamie
Leonhart);</b> soul and rhythm and blues<b> (Bettye LaVette, Toshi Reagon, The
Sweet Divines, Jean Grae); </b>comedy, cabaret, &amp; burlesque <b>(Justin
Bond, Heeb Storytelling, Pam Ann, Our Hit Parade, Anna Copa Cabanna, Judy Gold,
Lady Rizo and the Assettes, Isaac Mizrahi, Shells); </b>dance <b>(Soledad
Barrio &amp; Noche Flamenca, Mythli Prakash, David Parker &amp; The Bang
Group); </b>and the stars of Broadway<b> (The Cast of Hair: Be In, Kelli
O’Hara, Norm Lewis, Jackie Hoffman,&nbsp; LaChanze, The Cast of Spring
Awakening, Eden Espinosa) </b>and the silver screen <b>(Patrick Wilson, Sandra
Bernhard, Jay Brannan).<o:p></o:p></b>
            </p>
            <p class="MsoNormal">
                <o:p>&nbsp;</o:p>
            </p>
            <p class="MsoNormal">
                <b>
                    <o:p>&nbsp;</o:p>
                </b>
            </p>
            <p class="MsoNormal">
                Over the course of the past ten years, the Pub has hosted
literally thousands of artists from every imaginable discipline; including <b>Leonard
Cohen, David Byrne, Richard Thompson, Dion, Pete Townshend, Thomas Dolby, Huey
Lewis, Bono, Lesley Gore, Laurie Anderson, Neil Sedaka, Shawn Colvin, Harvey
Fierstein, Dolly Parton, Mos Def, Eartha Kitt, Ryuchi Sakamoto, Aimee Mann,
Kronos Quartet, Alicia Keys, Sinead O’Connor, Allen Toussaint, <span>&nbsp;</span>David Grey, Raul Malo, Norah Jones, Karen
Black, Goapele, Maxine Brown, Martha Redbone, Anthony David, Sharon Jones, Nona
Hendryx, Bettye LaVette, Kiki and Herb, Leslie Kritzer, Stew, Lillias White, Amy
Winehouse, Dar Williams, Fairport Convention, John Cameron Mitchell, Neko Case,
Del McCoury, Marty Stuart, Joss Stone, Diamanda Galas, Wallace Roney, Don
Byron, Youssou N’Dour, BETTY, Matmos, Holly Near, Keren Ann, Jill Sobule, Asobi
Seksu, Noche Flamenca with Soledad Barrio, Kodo Taiko, Bobby Bare Sr, James
Luther Dickinson, Imani Uzuri, Elvis Perkins, Bitter:Sweet, Florence Henderson,
Guy Clark, So Percussion, Chico Hamilton, The Bad Plus, Roy Nathanson,
Christian Scott, David Gilmore, Ravi Coltrane, Frank Morgan, Toshi Reagon, Junior
Brown, Bela Fleck, Hazel Dickens, Will Oldham, John Lithgow, Sutton Foster, Ana
Gasteyer, Capathia Jenkins, Sandra Bernhard, Tony Joe White, Sean Lennon, Evan
Dando, Dengue Fever, The Magic Numbers, Ryan Adams, Jason Mraz, The Bellrays,
Ben Jelen, Ryan Star (from RockStar: Supernova), Jose Gonzalez, Damon and
Naomi, Barb Jungr, Blossom Dearie, Julie Wilson, Diamanda Galas, Audra
McDonald, Feist, Liz Phair, Calexico, Sarah Silverman, Bebel Gilberto, Susheela
Raman, Asha Puthli, Emeline Michel, Cibelle, Lenine, Tinariwen, Vusi Mahlasela,
Gangbe Brass Band, Susana Baca, Otto, Macy Gray, Elvis Costello, Avenue Q's
John Tartaglia, Donna McKechnie, Billy Porter, Konono No. 1, Amadou and Mariam,
Anoushka Shankar, Alice Coltrane, Angelique Kidjo, Mort Sahl, Oscar Brown Jr.,
Al Franken, Antony and the Johnsons and Emmylou Harris </b>to name only a few.
                        <br />
            </p>
            <p>
                <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"></span>
            </p>
            <p>
                &nbsp;
            </p>
            <hr width="100%" size="2">
            <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif">
                <br />
            </span><a id="Press" title="Press"></a><u><b style="font-size:10pt;">Press:</b></u><br />
            <p>
                &nbsp;
            </p>
            <p>
                "The future Norah Joneses are more likely to come from a downtown axis of clubs whose performers gleefully fuzz the boundaries between old and new, and between pop, rock, jazz, rhythm-and-blues, swing, country, world music and performance art. At the nexus of the scene is Joe’s Pub." – <b>New York Times</b><br />
                <br />
                "My favorite rock and roll venue is Joe’s Pub in New York, where you get all the sweat and the heat from the performances." – <b>Alicia Keys</b><br />
                <br />
                "Joe's Pub has a quiet cool about itself that you don't really see anymore, it's one of my favorite small stages in the city, and has housed some big voices over the last 14 years. I am excited to now have a part in that and bring some big flavors.” – <b>Andrew Carmellini</b><br />
                <br />
                "A decidedly downtown feel. Think urban goth, with ornate molded ceilings.” – <b>Newsday</b><br />
                <br />
                "Consistently varied, top quality booking...cabaret, globalist pop prevalent, late night hip-hop too...classy interior...comfy, intimate space." – <b>Time Out NY<br />
                </b>
                <br />
                "Joe's Pub is so intimate and the audience is a huge part of those shows because they're so close. It's like everybody in the room is in on a secret or something. You've got four guys with guitars, telling stories and drinking whiskey…anything can happen!” – <b>Dierks Bentley</b><br />
                <br />
                "Best bar to get romantic and play grown-up….Dance, comedy, poetry, and music from folk to hip-hop; sooner or later, it turns up here." – <b>Village Voice</b><br />
                <br />
                "This room in the East Village offers an eclectic elegance, amazing sight lines, great acoustics and adventurous booking that offers heavy doses of jazz and world music." – <b>Downbeat </b>
                <br />
                <br />
                "We love Joe’s Pub, the eclectic nightclub that might feature a cabaret performer one night, a jazz singer the next and a straight out rocker the night after. Poets, scratch DJ’s, composers performing their own material – you never know what you’ll find next, but you can count on the fact that it will be good, very good." – <b>New York Magazine</b><br />
                <br />
                "One of the best small music venues I've ever been to." – <b>BBC Radio<br />
                </b>
                <br />
                Best Excuse To Let A Single Venue Dictate Your Musical Taste – <b>Village Voice</b><br />
                <br />
                Best Theater to Catch Rising Stars – <b>CitySearch</b><br />
                <br />
                Best Downtown Classical-Music Venue – <b>New York Magazine</b><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"><br />
                    &nbsp;
                </span>
            </p>
            <p>
                <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"></span>
            </p>
            <hr width="100%" size="2">
            <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif">
                <br />
            </span><a id="Location" title="Location"></a><u><b style="font-size:10pt;">Location/Parking:</b></u><br />
            <p>
                <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif">Joe's Pub is part of The Public Theater, located at 425 Lafayette Street between East 4th and Astor Place in New York City's East Village.<br />
                    <br />
                    The street address for Joe's Pub is 425 Lafayette Street, NYC NY. 10003.<br />
                    <br />
                    Street parking is often available on Lafayette or the surrounding area. If you are unable to locate a public parking space, there are multiple parking lots surrounding Lafayette Street.&nbsp; <a href="technical/Parking_Coupon_6.8.10" target="_self">Click here</a>  to print a $5 off parking coupon for participating lots on Lafayette Street.<br />
                    <br />
                </span>
            </p>
            <hr width="100%" size="2">
            <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"><b>
                <br />
            </b></span><a id="Directions" title="Directions"></a><u><b style="font-size:10pt;">Directions to Joe's Pub:</b></u><br />
            <p>
                <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif">
                    <i>By Subway:</i><br />
                    <br />
                    West Side: Take the R or W train to the 8th Street Station<br />
                    East Side: Take the #6 train to Astor Place Station<br />
                    <i>
                        <br />
                        By Bus:</i><br />
                    <br />
                    Take the M2, M3, or M8 to 8 th Street and 4th Avenue<br />
                    Take the M5 or M6 to 8 th Street and Broadway<br />
                    Take the M15 to 2 nd Avenue and 9 th Street<br />
                    Or take the M101 or M102 to 8 th Street and Cooper Union<br />
                    <br />
                    <i>By Car:</i><br />
                    <br />
                    Exit the FDR Drive at Houston Street, drive west to Lafayette Street and turn right.<br />
                    Or drive down Broadway to 4th Street, turn left on 4th Street and then again on Lafayette Street<br />
                    <br />
                </span>
            </p>
            <hr width="100%" size="2">
            <p>
                <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"><b>
                    <br />
                </b></span><a id="FAQ"></a><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"><b>Frequently Asked Questions</b><br />
                    Q: &nbsp;&nbsp;&nbsp; What is appropriate etiquette for attending Joe's Pub?<br />
                    A: &nbsp;&nbsp;&nbsp; No flash photography or audio/video recording of any kind is allowed.<br />
                    <br />
                    Please silence your cell phone and refrain from speaking in full voice during the performance; it is a very intimate room and your conversation will distract not only the audience members but the artist as well.<br />
                    &nbsp; &nbsp;&nbsp; &nbsp;<br />
                    Q: &nbsp;&nbsp;&nbsp; Is there an age restriction on the shows at Joe's Pub?<br />
                    A: &nbsp;&nbsp;&nbsp; Shows are open to all ages.<br />
                    <br />
                    Please be certain young children can observe appropriate concert behavior.<br />
                    &nbsp; &nbsp;&nbsp; &nbsp;<br />
                    Q: &nbsp;&nbsp;&nbsp; What type of cuisine is served at the venue?<br />
                    A: &nbsp;&nbsp;&nbsp; Joe's Pub serves a light fare American menu as well as a wide variety of specialty cocktails. The dinner menu is available until 12:30.<br />
                </span>
            </p>
            <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"></span>
            <p class="MsoNormal">
                <a href="content/view/14/28/">Click here</a> to read the menu.
            </p>
            <p>
                <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif">&nbsp; &nbsp;&nbsp;&nbsp;
                            <br />
                    Q: &nbsp;&nbsp;&nbsp; How do I purchase tickets to your shows?<br />
                    A: &nbsp;&nbsp;&nbsp; </span><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif">T</span>ickets and seat selection can be purchased online at <a href="http://www.joespub.com">joespub.com</a>, by phone at
212-967-7555, or in person at The Public Theater Box Office (1 PM to 6 PM)
located at 425 Lafayette Street, NYC.<span> </span><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif">
    <br />
    If your seat is located at a dining table there is a $12 food or 2 drink minimum 
per person.&nbsp; Joe’s Pub seating is communal, which means you may have 
other guests at your table.&nbsp; If you are located at a counter, bar stool 
or standing, there is a $12 food minimum or two drink minimum.&nbsp; As a 
courtesy to the artists we recommend arriving no later than thirty 
minutes before show time. Reservations are now made when tickets are 
purchased, it is no longer necessary to call the Pub for reservations.&nbsp; 
Seating for each show begins when doors open for that performance.</span><i><b><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"><br />
    If
you have any questions regarding the new select your own seat ticketing
process or general inquiries, please contact 212.539.8778</span>&nbsp;
</span></b></i>
            </p>
            <p>
                <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif">Once purchased, tickets are non-refundable.<br />
                    &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                            <br />
                    Q: &nbsp;&nbsp;&nbsp; Are there minimums for the venue?<br />
                    A: &nbsp;&nbsp;&nbsp; </span><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif">Joe’s
Pub seating is communal, which means you may have other guests at your 
table.&nbsp; Please note there is a $12 food minimum or two drink minimum per
person.</span></span></span><br />
                <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif">&nbsp; &nbsp;&nbsp; &nbsp;<br />
                    Q: &nbsp;&nbsp;&nbsp; How can I get a gig performing at Joe's Pub?<br />
                    A: &nbsp;&nbsp;&nbsp; If a band that you represent wishes to play at Joe's Pub, feel free to send an inquiry to 

                            <a href="mailto:bookings@joespub.com">bookings@joespub.com</a><span style="display: none;">This e-mail address is being protected from spam bots, you need JavaScript enabled to view it
                            </span>, telling us more about your performance group, their draw in the New York area and where they currently play in NYC.<br />
                    <br />
                    Please DO NOT send press kits or CDs, as we are not accepting unsolicited submissions at this time.<br />
                    &nbsp; &nbsp;&nbsp; &nbsp;<br />
                    Q: &nbsp;&nbsp;&nbsp; Is parking available for Joe's Pub?<br />
                    A: &nbsp;&nbsp;&nbsp; Street parking is often available on Lafayette or the surrounding area. If you are unable to locate a public parking space, there are multiple parking lots surrounding Lafayette Street including two that will offer you a $5 discount if you present <a href="technical/Parking%20Coupon%206.8.10.jpg" target="_self">this coupon</a>.</span><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"><br />
                    </span>
            </p>
            <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"></span>
            <p>
                &nbsp;
            </p>
            <span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"></span>


        </td>
    </tr>
</table>
<span class="article_seperator">&nbsp;</span>
</div>