@{
    ViewBag.Title = "Gallery";
}
@section tfeature{
    @Html.Partial("~/Views/Shared/_ShowSearch.cshtml")
}
@section comments{
    @Html.Partial("~/Views/Shared/_Comments.cshtml")
}
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fjoespub&amp;send=false&amp;layout=standard&amp;width=800&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80" style="border: medium none; overflow: hidden; width: 800px; height: 30px;margin-left:10px" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
<div style="font-size:10pt;margin-left:30px">

    <p>
        <object height="300" width="400">
            <param name="flashvars" value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2Fjoespubnyc%2Fsets%2F72157623952009756%2Fshow%2F&amp;page_show_back_url=%2Fphotos%2Fjoespubnyc%2Fsets%2F72157623952009756%2F&amp;set_id=72157623952009756&amp;jump_to=">

            <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649">

            <param name="allowFullScreen" value="true">

            <embed src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" type="application/x-shockwave-flash" allowfullscreen="true" flashvars="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2Fjoespubnyc%2Fsets%2F72157623952009756%2Fshow%2F&amp;page_show_back_url=%2Fphotos%2Fjoespubnyc%2Fsets%2F72157623952009756%2F&amp;set_id=72157623952009756&amp;jump_to=" height="300" width="400">
        </object>
    </p>
    <p>
        All photos courtesy <a href="http://www.kebya.com/" target="_self">Kevin Yatarola
        </a>
    </p>
    <p>
        <object height="300" width="400">
            <param name="flashvars" value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2Fjoespubnyc%2Fsets%2F72157623827322611%2Fshow%2F&amp;page_show_back_url=%2Fphotos%2Fjoespubnyc%2Fsets%2F72157623827322611%2F&amp;set_id=72157623827322611&amp;jump_to=">

            <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649">

            <param name="allowFullScreen" value="true">

            <embed src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" type="application/x-shockwave-flash" allowfullscreen="true" flashvars="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2Fjoespubnyc%2Fsets%2F72157623827322611%2Fshow%2F&amp;page_show_back_url=%2Fphotos%2Fjoespubnyc%2Fsets%2F72157623827322611%2F&amp;set_id=72157623827322611&amp;jump_to=" height="300" width="400">
        </object>
    </p>
    "All drawings courtesy " <a href="http://www.michaeldarthur.com/" target="_self">Michael Arthur
    </a>
    <p>
        <object height="300" width="400">
            <param name="flashvars" value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2Fjoespubnyc%2Fsets%2F72157623951668778%2Fshow%2F&amp;page_show_back_url=%2Fphotos%2Fjoespubnyc%2Fsets%2F72157623951668778%2F&amp;set_id=72157623951668778&amp;jump_to=">

            <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649">

            <param name="allowFullScreen" value="true">

            <embed src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" type="application/x-shockwave-flash" allowfullscreen="true" flashvars="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2Fjoespubnyc%2Fsets%2F72157623951668778%2Fshow%2F&amp;page_show_back_url=%2Fphotos%2Fjoespubnyc%2Fsets%2F72157623951668778%2F&amp;set_id=72157623951668778&amp;jump_to=" height="300" width="400">
        </object>
        &nbsp;
    </p>
</div>
