@{
    ViewBag.Title = "Joes' Pub - Area Information";
}
@section tfeature {
    @Html.Partial("~/Views/Shared/_ShowSearch.cshtml")
}
@section comments {
    @Html.Partial("~/Views/Shared/_Comments.cshtml")
}
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fjoespub&amp;send=false&amp;layout=standard&amp;width=800&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80" style="border: medium none; overflow: hidden; width: 800px; height: 30px;margin-left:10px" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
<h2 style="font-size:17px;font-weight:bold;padding-bottom:5px;color:#600;padding-left:20px">dining and drinks</h2>
<p style="padding:0 20px">
    <span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;">
        Joe’s Pub seating is communal, which means you may have other guests at your table.&nbsp; Please note there is a $12 food minimum or two drink minimum per person.&nbsp; 
        <br/>
        <br/>
        As a courtesy to the artists we recommend arriving no later than thirty minutes before show time. Reservations are now made when tickets are purchased, it is no longer necessary to call the Pub for reservations.&nbsp; Seating for each show begins when doors open for that performance.

    </span>
</p>
<p>
    <span style="font-size: 10pt; font-family: arial,helvetica,sans-serif">&nbsp;
    </span>
</p>
<p>
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;padding-left:20px;"><a href="#" target="_blank">Joe's Pub Dinner Menu</a>    - Served from 6:00PM - 10:30PM<br>
<br>
</span>
</p>
<p>
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif;padding-left:20px;"><a href="#" target="_blank">Joe's Pub Late Night Menu</a>  - Served from 11:00PM - 1:00AM</span>
</p>
<span style="font-size: 8pt">
</span>
<br />
<br />
