@{
    ViewBag.Title = "Press";
}
@section tfeature {
    @Html.Partial("~/Views/Shared/_ShowSearch.cshtml")
}
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fjoespub&amp;send=false&amp;layout=standard&amp;width=800&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80" style="border: medium none; overflow: hidden; width: 800px; height: 30px;margin-left:10px" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
<div style="margin:0 25px 0 25px; font-size:10pt">
    <br />
    <div style="font-size:12pt;">
    <b>Press:</b>
        </div>
    <p>
        "The future Norah Joneses are more likely to come from a downtown axis of clubs whose performers gleefully fuzz the boundaries between old and new, and between pop, rock, jazz, rhythm-and-blues, swing, country, world music and performance art. At the nexus of the scene is Joe’s Pub." – <b>New York Times</b><br>
        <br>
        "My favorite rock and roll venue is Joe’s Pub in New York, where you get all the sweat and the heat from the performances." – <b>Alicia Keys</b><br>
        <br>
        "Joe's Pub has a quiet cool about itself that you don't really see anymore, it's one of my favorite small stages in the city, and has housed some big voices over the last 14 years. I am excited to now have a part in that and bring some big flavors.” – <b>Andrew Carmellini</b><br>
        <br>
        "A decidedly downtown feel. Think urban goth, with ornate molded ceilings.” – <b>Newsday</b><br>
        <br>
        "Consistently varied, top quality booking...cabaret, globalist pop prevalent, late night hip-hop too...classy interior...comfy, intimate space." – <b>Time Out NY<br>
        </b>
        <br>
        "Joe's Pub is so intimate and the audience is a huge part of those shows because they're so close. It's like everybody in the room is in on a secret or something. You've got four guys with guitars, telling stories and drinking whiskey…anything can happen!” – <b>Dierks Bentley</b><br>
        <br>
        "Best bar to get romantic and play grown-up….Dance, comedy, poetry, and music from folk to hip-hop; sooner or later, it turns up here." – <b>Village Voice</b><br>
        <br>
        "This room in the East Village offers an eclectic elegance, amazing sight lines, great acoustics and adventurous booking that offers heavy doses of jazz and world music." – <b>Downbeat </b>
        <br>
        <br>
        "We love Joe’s Pub, the eclectic nightclub that might feature a cabaret performer one night, a jazz singer the next and a straight out rocker the night after. Poets, scratch DJ’s, composers performing their own material – you never know what you’ll find next, but you can count on the fact that it will be good, very good." – <b>New York Magazine</b><br>
        <br>
        "One of the best small music venues I've ever been to." – <b>BBC Radio<br>
        </b>
        <br>
        Best Excuse To Let A Single Venue Dictate Your Musical Taste – <b>Village Voice</b><br>
        <br>
        Best Theater to Catch Rising Stars – <b>CitySearch</b><br>
        <br>
        Best Downtown Classical-Music Venue – <b>New York Magazine</b><span style="font-size: 10pt; font-family: arial, helvetica, sans-serif"><br>
            &nbsp;
        </span>
    </p>
</div>
