@{
    ViewBag.Title = "Support";
}
@section tfeature{
    @Html.Partial("~/Views/Shared/_ShowSearch.cshtml")
}
@section comments{
    @Html.Partial("~/Views/Shared/_Comments.cshtml")
}
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fjoespub&amp;send=false&amp;layout=standard&amp;width=800&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=80" style="border: medium none; overflow: hidden; width: 800px; height: 30px;margin-left:10px" allowtransparency="true" frameborder="0" scrolling="no"></iframe>

<div style="margin:0 25px 0 25px;width:850px" align="center">

<p class="MsoNormal" style="text-align: center" align="center">
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"><b>Joe's Pub is The Public Theater’s
non-profit music venue.&nbsp; The mission is
to support artists and provide greater access to the arts through free or
low-cost tickets.&nbsp; We have our donors to
thank for ensuring that only 25% of the organization’s annual budget is supported through ticket sales.</b></span></span>
</p>
<p class="MsoNormal" style="text-align: center" align="center">
&nbsp;
</p>
<p class="MsoPlainText" align="left">
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"><b><u>Support The Work Onstage and Off</u></b> <br>
</span>
</p>
<p class="MsoPlainText" style="margin-bottom: 12pt" align="left">
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif">A contribution to Joe's Pub
is more than an investment in the physical space -- your gift supports the
mission of The Public Theater to provide access for artists and for audiences
and helps make Joe’s Pub at The Public the crown jewel of NYC’s intimate
performance venues. Support Joe's Pub as a donor and contribute towards the
long-term success of this entertainment space. Not only will you gain
additional access to the space you love, but all supporters at the <a href="http://giving.publictheater.org/fellows/"><span style="color: windowtext">$55
Member</span></a> and <a href="http://giving.publictheater.org/partners/"><span style="color: windowtext">above</span></a> level also receive 20% off their food
and drink at the Pub as a thank you for their support. </span>
</p>
<p class="MsoPlainText" align="left">
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif">To make a gift, visit us <a href="http://giving.publictheater.org/">online</a> or call us directly at
212.967.7555.</span>
</p>
<p class="MsoPlainText">
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif">&nbsp;</span>
</p>
<p class="MsoNormal" align="left">
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"><b><u>Joe’s Pub Capital
Campaign</u></b></span>
</p>
<p class="MsoNormal" align="left">
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif">On October 4<sup>th</sup>,
2011, Joe’s Pub reopened after being redesigned with Joe’s Pub LLC to feature
improved sightlines and seating, new restrooms, a coat check, and a new entry
way. We thank these donors for their support of the project.<br>
<br>
</span>
</p>
<p class="MsoNormal">
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"><b>ICON ($25,000+)</b><br>
Kenneth &amp; Anna Zankel
</span>
</p>
<p class="MsoNormal">
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"><b>ROCK STAR ($15,000 -
$24,999)</b><br>
The Angel of Amarone &amp; LJK&nbsp; </span>
</p>
<p class="MsoNormal">
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"><b>RISING STAR ($1,000 -
$4,999)</b><br>
Justin Christopher &amp; Shannon Robert Bowen<br>
Paul Cochran &amp; John Kibler<br>
Vincent &amp; Rosemary D'Aco<br>
The Dazzle Dancers<br>
Lauri &amp; Douglas Freedman<br>
Jayne &amp; Neil<br>
Kathleen McNally<br>
Gerald Mettner<br>
Sherri Michelstein<br>
Nicholas Musurca<br>
Isabel Rose<br>
The Salmon Family<br>
Larry E. Stuckey II<br>
Vivien and Paul Wolsk
</span>
</p>
<p class="MsoNormal">
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"><b>OPENING ACT ($1-$999)</b><br>
Lloyd Campbell<br>
Lisa Lambert<br>
Shirl R. Pilote<br>
Lindo Porto<br>
Lisa &amp; Adam Rothkrug&nbsp; </span><span style="font-size: 12pt; font-family: 'Times New Roman','serif'"></span>
</p>
<span style="font-size: 10pt; font-family: arial,helvetica,sans-serif"></span> <br>
</div>