<?xml version="1.0"?>
<configuration>
  <configSections>
	<section name="nysf_TicketScanning" type="Nysf.TicketScanning.ConfigSection" />
	<sectionGroup name="elmah">
	  <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
	  <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
	</sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Nysf.TicketScanning.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <elmah>
	<security allowRemoteAccess="0" />
	<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="c:\elmah" />
  </elmah>
  <nysf_TicketScanning
	 connectionString="Data Source=CORYPHAEUS; Initial Catalog=impresario; User ID=webapps; Password=webapps;"
	 cacheMins="60"
  />
  <system.web>
	<compilation debug="true" targetFramework="4.0" />
	<httpModules>
	  <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
	</httpModules>
	<httpHandlers>
	  <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
	</httpHandlers>
	<trace enabled="true" localOnly="true" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <applicationSettings>
    <Nysf.TicketScanning.Properties.Settings>
      <setting name="Nysf_TicketScanning_WebReferences_TessWebApi_Tessitura"
        serializeAs="String">
        <value>https://tessitura.publictheater.org/tessitura.asmx</value>
      </setting>
    </Nysf.TicketScanning.Properties.Settings>
  </applicationSettings>
</configuration>
